:root {
  --spacing: 0.3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #cfe6e3;
}
h2 {
  color: rgb(70, 70, 59);
}
.token {
  color: teal;
}
.container {
  background-color: white;
  max-width: 400px;
  width: 100%;
  margin: 15% auto;

  text-align: center;
}

.btn {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: rgb(13, 13, 54);
  color: white;
  letter-spacing: var(--spacing);
  border: 1px solid #ccc;
  outline: none;
}
.btn:active {
  transform: scale(0.68);
}
.copy {
  letter-spacing: var(--spacing);
  margin-bottom: 0.3rem;
  text-transform: capitalize;
  color: teal;
}
